<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Upload File | Kiet's CRUD App</title>
  <link rel="stylesheet" href="/css/style.css">
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
</head>

<body>
  <div class="nav">
    <a href="/">Home</a>
    <a class="active" href="/upload">Upload File</a>
  </div>

  <div class="update-container">
    <form method="POST" action="/upload-multiple-images" enctype="multipart/form-data">
      <h2>Upload File:</h2>
      <div>
        <input type="file" name="multiple-images" multiple />
      </div>
      <br>
      <div>
        <button class="button" type="submit"><span class="text">Submitting</span><span>...</span>
        </button>
      </div>
    </form>
  </div>

</body>

</html>