USE [Little_Lemon]
GO
/****** Object:  StoredProcedure [dbo].[Task8]    Script Date: 3/12/2023 2:20:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[Task8]
AS
BEGIN
select * from BookingsView;
END
GO
